/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Lato:100");
@import url("https://fonts.googleapis.com/css?family=Lato:100italic");
@import url("https://fonts.googleapis.com/css?family=Lato:300");
@import url("https://fonts.googleapis.com/css?family=Lato:300italic");
@import url("https://fonts.googleapis.com/css?family=Lato:regular");
@import url("https://fonts.googleapis.com/css?family=Lato:italic");
@import url("https://fonts.googleapis.com/css?family=Lato:700");
@import url("https://fonts.googleapis.com/css?family=Lato:700italic");
@import url("https://fonts.googleapis.com/css?family=Lato:900");
@import url("https://fonts.googleapis.com/css?family=Lato:900italic");

/* General Styles & Structure */

colors {
	dark-blue: #0a284c;
	orange: #f1a221;
}

body {
	font-family:Lato;
	background-image:url('background.jpg');
	background-color:#0a284c;
	background-repeat:repeat-x;
	background-position:left top;
}

.wrapper {
	width: 990px;
	margin: auto;
	position: relative;
}

a {
	color: #f1a2211;
	text-decoration: none;
}

a:hover {
	color: #0a284c;
	text-decoration: underline;
}

a.btn {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	background: #f1a221;
	border-radius: 10px;
	display: inline-block;
	padding: 10px 30px 10px 10px;
	position: relative;
}

a.btn:hover {
	background: #0a284c;
}

.entrance-page a.btn:hover {
	background: #f1a221;
}

a.btn:after {
	content:"";
	display: block;
	width: 12px;
	height: 13px;
	background-image: url('arrows.png');
	background-position: center top;
	position: absolute;
	right: 10px;
	top: 14px;
}

h3 {
	font-size: 1.17em;
	line-height: 1.25em;
}

.entrance-page a.btn:hover:after {
	background-position: center bottom;
}

.entrance-page h1 a.btn:after {
	top: 19px;
}

section.entrance {
	padding-top: 200px;
}

/* span {
line-height: 100%;
} */

/* Header */

header {
	width: 100%;
	height: 119px;
	background-color: #fff;
}

.home-template header {
	position: absolute;
	top: 0px;
	z-index: 100;
	background-image: url('transparent-gradient.png');
	background-color: transparent;
	background-repeat: repeat-x;
	background-position: left top;
}

header .logo {
	float: left;
	margin-left: 35px;
	margin-top: 10px;
}

header .login {
	color: #fff;
	font-size: 20px;
	text-decoration: none;
	float: right;
	margin-top: 40px;
	margin-right: 25px;
	background-color: #0a284c;
	padding: 10px 25px;
	border-radius: 10px;
}

header .login:hover {
	background-color: #f1a221;
}

.header-image {
	position: relative;
	top: -55px;
	margin-bottom: -25px;
}

/* Main Navigation */

nav {
	width: 100%;
	height: 55px;
	background-color: rgb(241,162,33);
	background: rgba(241,162,33,0.9);
	position: relative;
	z-index: 100;
}

.home-template nav {
	position: absolute;
	top: 119px;
	z-index: 100;
}

nav .navigation-widget.horizontal {
	float: left;
	text-align: left;
	height: 55px;
	line-height: 55px;
}

nav .navigation-widget a {
	padding: 0 10px;
}

nav .navigation-widget .submenu li {
	line-height: 40px;
}

nav .navigation-widget .l1 > a {
	font-size: 22px;
	color: #fff;
	padding: 0 15px;
	text-transform: uppercase;
	font-weight: 300;
}

nav .navigation-widget .l1.first {
	margin-left: 15px;
}

nav .navigation-widget .l1:hover {
	background: #fff;
}

nav .navigation-widget .l1:hover > a {
	color: #0a284c;
}

nav .navigation-widget .submenu li {
	width: 225px;
	position: relative;
}

nav .navigation-widget .submenu li a {
	color: #0a284c;
	font-size: 14px;
	display: block;
	background: #fff;
}

nav .navigation-widget .submenu li:hover a {
	background: #e6e9ed;
}

nav .navigation-widget .submenu .submenu li a {
	background: #e6e9ed;
}

nav .navigation-widget .submenu .submenu li:hover a {
	background: #cfd2d6;
}

nav .navigation-widget .submenu .flyout:after {
	content:"";
	display: block;
	position: absolute;
	right: 15px;
	top: 14px;
	width: 12px;
	height: 13px;
	background-image: url('arrows.png');
	background-position: center bottom;
}

nav .social {
	float: right;
	height: 55px;
	margin-right: 5px;
}

nav .social a {
	padding-left: 5px;
	padding-right: 5px;
	display: table-cell;
	width: 29px;
	height: 55px;
	line-height: 55px;
	vertical-align: middle;
}

nav .social a:hover {
	background-color: #d28911;
}

/* Main Banner */

.wrapper > .banner-widget {
	max-height: 600px;
	overflow: hidden;
	position: relative;
}

.wrapper > .banner-widget .captions {
	float: right;
	margin: 0;
	position: absolute;
	top: 60%;
	right: 0;
	color: #fff;
	font-size: 30px;
	width: 500px;
	height: auto;
	max-height: 110px;
	overflow-y: auto;
	font-weight: 700;
	text-align: left;
	background: rgb(30,85,150);
	/* Old browsers */
	background: -moz-linear-gradient(left,  rgba(30,85,150,1) 0%, rgba(10,40,76,1) 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(30,85,150,1)), color-stop(100%,rgba(10,40,76,1)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(30,85,150,1) 0%,rgba(10,40,76,1) 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(30,85,150,1) 0%,rgba(10,40,76,1) 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(30,85,150,1) 0%,rgba(10,40,76,1) 100%);
	/* IE10+ */
	background: linear-gradient(to right,  rgba(30,85,150,1) 0%,rgba(10,40,76,1) 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5596', endColorstr='#0a284c',GradientType=1 );
	/* IE6-9 */
}

/* Featured Links */

.featured-links {
	width: 100%;
	margin: 30px 0 0 0;
	padding: 0;
	font-size: 0;
}

.featured-links li {
	width: 300px;
	height: 215px;
	margin: 0 0 0 45px;
	list-style-type: none;
	display: inline-block;
	border-top: 5px solid #d28911;
	background-repeat: no-repeat;
	background-position: center 50px;
}

.featured-links li:first-child {
	margin-left: 0;
}

.featured-links li a {
	color: #fff;
	font-size: 22px;
	font-weight: normal;
	text-decoration: none;
	text-transform: uppercase;
	height: 50px;
	line-height: 50px;
	padding-left: 25px;
	background-color: #f1a221;
	display: block;
	position: relative;
}

.featured-links li a:after {
	content:"";
	display: block;
	position: absolute;
	right: 20px;
	top: 50%;
	margin-top: -6.5px;
	width: 12px;
	height: 13px;
	background-image: url('arrows.png');
	background-position: center top;
}

.featured-links li a:hover:after {
	background-position: center bottom;
}

.featured-links li.start {
	background-image: url('sample-image-1.jpg');
}

.featured-links li.membership {
	background-image: url('sample-image-2.jpg');
}

.featured-links li.training {
	background-image: url('sample-image-3.jpg');
}

/* General Structure & Two Columns */

section {
	background: #fff;
}

.home-template section, .french-template section {
	background: none;
}

section .content {
	padding: 10px;
}

.left-side {
	float: left;
	width: 670px;
}

.right-side {
	float: right;
	width: 300px;
}

/* Photo Box */

.photo-box {
	border-radius: 20px;
	width: 300px;
	height: 195px;
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;
	background-color: #fff;
}

.photo-box img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.photo-box h3, .photo-box p, .photo-box a {
	position: relative;
	z-index: 1;
}

.photo-box h3 {
	width: 90%;
	font-size: 26px;
	font-weight: 900;
	margin-top: 10px;
	margin-left: 15px;
}

.photo-box p {
	font-size: 15px;
	margin-top: 15px;
	margin-left: 15px;
	width: 75%;
	height: 40px;
	overflow: hidden;
}

.photo-box.light h3, .photo-box.light p {
	color: #fff;
}

.photo-box.dark h3, .photo-box.dark p {
	color: #0a284c;
}

.photo-box a {
	margin-left: 15px;
}

/* Breadcrumbs */

.breadcrumbs-widget {
	background: #f1a221;
	padding: 15px;
}

.breadcrumbs-widget a {
	color: #0a284c;
	text-decoration: none;
	font-weight: 300;
}

.breadcrumbs-widget strong, .breadcrumbs-widget .separator {
	font-weight: 300;
	color: #fff;
}

/* Footer */

p.footer-tagline {
	color: #fff;
	font-size: 27px;
	font-weight: 100;
	text-align: center;
	margin-top: 80px;
	padding-left: 70px;
	padding-right: 70px;
}

p.footer-tagline sup {
	font-size: 18px;
}

hr.hands {
	width: 575px;
	margin: 0 auto 75px auto;
	border: 1px solid #fff;
	position: relative;
}

hr.hands:after {
	content:"";
	display: block;
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -44px;
	margin-top: -29px;
	width: 88px;
	height: 58px;
	background-image: url('hands.png');
}

footer {
	color: #fff;
	font-size: 12px;
	font-weight: 100;
	clear: both;
}

footer .footer-contact {
	color: #0a284c;
	font-size: 26px;
	font-weight: 300;
	width: 100%;
	height: 75px;
	padding-left: 30px;
	padding-right: 30px;
	line-height: 75px;
	background-color: #f1a221;
	border-top: 5px solid #d28911;
	box-sizing: border-box;
}

footer .footer-contact a {
	color: #0a284c;
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
	float: right;
	position: relative;
	margin-left: 55px;
}

footer .footer-contact a:first-child {
	margin-left: 140px;
}

footer .footer-contact a:after {
	content:"";
	display: block;
	position: absolute;
	left: -45px;
	top: 20px;
	width: 38px;
	height: 38px;
	display: block;
}

footer .footer-contact .email:after {
	background-image: url('icon-email-blue.png');
}

footer .footer-contact .call:after {
	background-image: url('icon-phone-blue.png');
}

footer .footer-bottom {
	width: 100%;
	height: 75px;
	line-height: 75px;
	background-color: #071f3b;
}

footer .footer-bottom img {
	display: inline-block;
	padding: 15px;
}

footer ul {
	margin: 0;
	text-align: right;
	float: right;
	height: 75px;
	line-height: 35px;
}

footer ul li {
	display: inline-block;
	list-style-type: none;
	margin-right: 20px;
}

footer ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	font-weight: 300;
}

footer ul li a:hover {
	color: #fff;
	text-decoration: underline;
}

#templatefooter {
	display: none;
}
/*.french-template .content-module{
background-color:#0a284c;
}
*/
